<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
CREATE TABLE CONTENTS
(
    `CONTENTS_IDX`  INT              NOT NULL    AUTO_INCREMENT COMMENT 'CONTENTS_IDX', 
    `USER_ID`       VARCHAR(15)      NOT NULL    COMMENT 'USER_ID', 
    `LOAD_DATE`     VARCHAR(14)      NULL        COMMENT 'LOAD_DATE', 
    `EDIT_DATE`     VARCHAR(14)      NULL        COMMENT 'EDIT_DATE', 
    `TITLE`         VARCHAR(200)     NULL        COMMENT 'TITLE',
    `TITLE_SUB`		VARCHAR(200) 	 NULL		 COMMENT 'TITLE_SUB',
    `CONTENT`       MEDIUMTEXT		 NULL        COMMENT 'CONTENT',
    `CONTENT_MD`	MEDIUMTEXT		 NULL		 COMMENT 'CONTENT_MD',
    PRIMARY KEY (CONTENTS_IDX)
);
-->

<mapper namespace="contents">
 	<!-- Select -->
	<select id="selectContentsOne" parameterType="hashmap"
		resultType="hashmap">        
		SELECT 	USER_ID,
				LOAD_DATE,
				EDIT_DATE,
				TITLE,
				TITLE_SUB,
				CONTENT,
				CONTENTS_IDX,
				CONTENT_MD
		  FROM  CONTENTS
		 WHERE  CONTENTS_IDX = #{CONTENTS_IDX}
	</select>
	<!-- count -->
	<select id="selectContentsLength" parameterType="hashmap"
		resultType="hashmap">        
		SELECT 	COUNT(*) AS COUNT
		  FROM  CONTENTS
	</select>
	<select id="selectContentsList"	resultType="hashmap">        
		SELECT 	USER_ID,
				LOAD_DATE,
				EDIT_DATE,
				TITLE,
				TITLE_SUB,
				CONTENT,
				CONTENTS_IDX,
				CONTENT_MD
		  FROM  CONTENTS
		 ORDER BY LOAD_DATE DESC
	</select>
	<select id="selectContentsList2" parameterType="hashmap"
		resultType="hashmap">               
		SELECT 	USER_ID,
				LOAD_DATE,
				EDIT_DATE,
				TITLE,
				TITLE_SUB,
				CONTENT,
				CONTENTS_IDX,
				CONTENT_MD
		  FROM  CONTENTS
		 ORDER BY LOAD_DATE DESC
		 LIMIT #{START} , #{COUNT}
	</select>
	
	<!-- Insert  -->
    <insert id="insertContents" parameterType="hashmap">
		INSERT INTO CONTENTS 
		(USER_ID, LOAD_DATE, EDIT_DATE, TITLE, TITLE_SUB, CONTENT, CONTENT_MD) 
		VALUES 
		(
		#{USER_ID},
		DATE_FORMAT(NOW(),'%Y%m%d%H%i'),
		DATE_FORMAT(NOW(),'%Y%m%d%H%i'),
		#{TITLE},
		#{TITLE_SUB},
		#{CONTENT},
		#{CONTENT_MD}
		)
    </insert>
    
    <!-- Delete  -->
    <delete id="deleteContents" parameterType="hashmap">
		DELETE 
		  FROM CONTENTS 
		 WHERE CONTENTS_IDX = #{CONTENTS_IDX}
    </delete>
    
    <!-- Update  -->
    <update id="updateContents" parameterType="hashmap">
		UPDATE CONTENTS
		   SET TITLE		= #{TITLE},
		   	   TITLE_SUB	= #{TITLE_SUB},
			   EDIT_DATE	= DATE_FORMAT(NOW(),'%Y%m%d%H%i'),
			   CONTENT		= #{CONTENT},
			   CONTENT_MD	= #{CONTENT_MD}
		 WHERE CONTENTS_IDX	= #{CONTENTS_IDX}
    </update>
</mapper>
