<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
CREATE TABLE ContentS
(
    `ContentS_IDX`  INT              NOT NULL    AUTO_INCREMENT COMMENT 'ContentS_IDX', 
    `USER_ID`       VARCHAR(15)      NOT NULL    COMMENT 'USER_ID', 
    `LOAD_DATE`     VARCHAR(14)      NULL        COMMENT 'LOAD_DATE', 
    `EDIT_DATE`     VARCHAR(14)      NULL        COMMENT 'EDIT_DATE', 
    `TITLE`         VARCHAR(200)     NULL        COMMENT 'TITLE', 
    `CONTENT`       VARCHAR(3000)    NULL        COMMENT 'CONTENT', 
    PRIMARY KEY (ContentS_IDX)
);
-->

<mapper namespace="contents">
 	<!-- Select -->
	<select id="selectContentsOne" parameterType="hashmap"
		resultType="hashmap">        
		SELECT 	USER_ID,
				LOAD_DATE,
				EDIT_DATE,
				TITLE,
				CONTENT
		  FROM  CONTENTS
		 WHERE  CONTENTS_IDX = #{CONTENTS_IDX}
	</select>
	<select id="selectContentsList"	resultType="hashmap">        
		SELECT 	CONTENTS_IDX,
				USER_ID,
				LOAD_DATE,
				EDIT_DATE,
				TITLE,
				CONTENT
		  FROM  CONTENTS
	</select>
	<select id="selectContentsList2" parameterType="hashmap"
		resultType="hashmap">               
		SELECT 	CONTENTS_IDX,
				USER_ID,
				LOAD_DATE,
				EDIT_DATE,
				TITLE,
				CONTENT
		  FROM  CONTENTS
		 WHERE	USER_ID = #{USER_ID}
	</select>
	
	<!-- Insert  -->
    <insert id="insertContents" parameterType="hashmap">
		INSERT INTO CONTENTS 
		(USER_ID, LOAD_DATE, EDIT_DATE, TITLE, CONTENT) 
		VALUES 
		(
		#{USER_ID},
		DATE_FORMAT(NOW(),'%Y%m%d%H%i'),
		DATE_FORMAT(NOW(),'%Y%m%d%H%i'),
		#{TITLE},
		#{CONTENT}
		)
    </insert>
    
    <!-- Delete  -->
    <delete id="deleteContents" parameterType="hashmap">
		DELETE 
		  FROM CONTENTS 
		 WHERE CONTENTS_IDX = #{CONTENTS_IDX}
    </delete>
    
    <!-- Update  -->
    <update id="updateContents" parameterType="hashmap">

    </update>
</mapper>
